<h1>Change Password</h1>

<%= form_tag change_password_path do %>
  Password: <%= password_field_tag :password %>
  Confirm Password: <%= password_field_tag :password_confirmation %>
  <%= submit_tag "Submit" %>
<% end %>
<%= link_to 'Back', root_url %>
